.App {
  min-height: 100vh;
}

.räknare{
  text-align: center;
  color: aliceblue;
}
.button{
  margin-top: 20px;
  text-align: center;
}

.Header-head-section{
  color: aliceblue;
  text-align: center;
  font-size: 25px;
}

.navLink{
  color: rgb(101, 206, 101);
  border: solid 2px black;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  padding: 7.5px;
}

img{
  height: 200px;
  margin: 100px
}

/* Home Page */
.home-page{
  margin-top: 50px;
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

/* Kontakt Page */
.Kontakt-page{
  margin: 50px 0 0 25px;
  color: aliceblue;
  font-size: 20px;
}
.Kontakt-info{
  margin-top: 20px;
}

/* Projekt Page */
.Projekt-page{
  margin-top: 50px; 
  text-align: center; 
  color: aliceblue;
}

section h2{
  color: rgb(101, 206, 101);
}

/* Om Mig Page */
.OmMig-page{
  margin-top: 50px;
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}
.Main-text-OmMig{
  margin: 30px 100px 0 100px;
}